{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}

<div class="example-wrapper">
    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    {% if channels %}
        <h2>Which chan do you want to join ?</h2>
        <table class="table table-striped">
            <tbody>
            {% for channel in channels %}
                <tr class="">
                    <th>
                        <span>{{ channel.name }}</span>
                        <a class="btn btn-primary float-right" href="{{ path('chat', {id: channel.id}) }}">Go chat !</a>
                    </th>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div>
            <div class="alert alert-danger text-center">No Channels found. Create Users with the <b>create:channel</b> command</div>
        </div>
    {% endif %}
</div>
{% endblock %}
